body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #323232;
  background-color: #849d8f;
}

.text-input:hover,
.password-input:hover {
  border: 2px solid #c7c6c5;
}

.text-input:focus,
.password-input:focus {
  border: 2px solid #8fbdec;
}

.site-wrapper {
  min-width: 1200px;
  background-image: url("../img/slider-1.png");
  background-position: top center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-3.png");
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding-top: 1px;
  padding-left: 27px;
  padding-right: 27px;
}

.main-header {
  min-height: 113px;
}

.main-logo {
  width: 154px;
  height: 64px;
  float: left;
  margin-top: 8px;
  margin-right: 10px;
}

.main-logo img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  width: 650px;
  float: left;
  margin-top: 19px;
}

.main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu-item {
  float: left;
  min-height: 32px;
}

.main-menu-item > a {
  display: block;
  position: relative;
  padding: 10px 14px;
  margin-bottom: 10px;
  border-radius: 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
}

.main-menu-item > a::after {
  content: "";
  position: absolute;
  left: 14px;
  top: 28px;
  height: 1px;
  background: #ffffff;
  opacity: 0.2;
}

.main-menu-item:nth-child(1) > a::after {
  width: 60px;
}

.main-menu-item:nth-child(2) > a::after {
  width: 142px;
}

.main-menu-item:nth-child(3) > a::after {
  width: 91px;
}

.main-menu-item > a:hover {
  background-color: #f7f6f3;
  border-radius: 20px;
  color: #333333;
}

.main-menu-item > a:hover::after {
  display: none;
}

.main-menu-item > a:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.main-menu-catalog {
  position: relative;
}

.main-menu-catalog .submenu {
  display: none;
}

.main-menu-catalog:hover .submenu {
  display: block;
  padding: 0;
  box-sizing: border-box;
  width: 143px;
  min-height: 171px;
  position: absolute;
  left: -8px;
  top: 43px;
  background: #f8f7f4 url("../img/submenu-line.png") no-repeat 6px 38px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  list-style: none;
  z-index: 30;
}

.submenu-item a {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 33px;
  padding: 8px 20px;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
}

.submenu-item a:hover {
  background: #fbded8;
}

.submenu-item a:active {
  background: #f6b5a5;
}

.submenu-item-active a {
  color: #ffffff;
  background: #d07058;
}

.submenu-item-active a:hover {
  color: #ffffff;
  background: #d07058;
}

.submenu-item:last-child a {
  border-radius: 5px;
}

.submenu-item-main {
  margin-bottom: 4px;
}

.submenu-item-main a {
  font-weight: 700;
  min-height: 38px;
  border-radius: 5px;
}

.main-menu-active > a {
  background-color: #d07058;
  text-decoration: none;
}

.main-menu-active > a::after {
  display: none;
}

.user-block {
  width: 262px;
  float: right;
  margin-top: 22px;
}

.user-block-item > a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
}

.cart-block {
  float: right;
  padding-bottom: 5px;
  position: relative;
}

.cart {
  display: block;
  box-sizing: border-box;
  width: 117px;
  min-height: 32px;
  padding: 8px 44px;
  padding-right: 0px;
  border-radius: 20px;
  color: #ffffff;
  background: #a3b8ac url("../img/sprite.png") no-repeat 6px -112px;
}

.cart:hover {
  color: #333333;
  background: #f8f7f4 url("../img/sprite.png") no-repeat 6px -72px;
}

.cart-active {
  color: #333333;
  background: #f8f7f4 url("../img/sprite.png") no-repeat 6px -72px;
}

.cart-window {
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 36px;
  left: -423px;
  width: 540px;
  padding: 20px 15px;
  min-height: 242px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  z-index: 20;
}

.cart-item {
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 6px;
}

.cart-item:last-child {
  padding-bottom: 16px;
  border-bottom: 1px solid #cacac7;
  margin-bottom: 0;
}

.cart-item-close-button {
  display: inline-block;
  vertical-align: top;
  border: none;
  width: 11px;
  height: 11px;
  margin-top: 10px;
  margin-right: 5px;
  background: rgb(248, 247, 244) url("../img/cart-close-button.png") no-repeat;
  cursor: pointer;
}

.cart-image {
  display: inline-block;
  width: 33px;
  height: 33px;
  margin-right: 10px;
}

.cart-image img {
  border-radius: 50%;
}

.cart-window span {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

.cart-item-name {
  width: 220px;
  margin-right: 21px;
}

.cart-price-per-kg {
  margin-right: 25px;
}

.cart-price-per-kg b {
  font-weight: 400;
  color: #999999;
}

.cart-total-price {
  text-align: right;
  margin-top: 14px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
}

.cart-button {
  float: right;
  width: 170px;
  min-height: 45px;
  margin-top: 14px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  text-align: center;
  padding-top: 10px;
}

.cart-block:hover .cart-window {
  display: block;
}

.login-block {
  position: relative;
  float: left;
  padding-bottom: 5px;
}

.login-block > a {
  display: block;
  box-sizing: border-box;
  width: 92px;
  min-height: 32px;
  margin-right: 10px;
  padding: 8px 45px;
  border-radius: 20px;
  color: #ffffff;
  background: #a3b8ac url("../img/sprite.png") no-repeat 6px -409px;
}

.login-block > a:hover {
  color: #333333;
  background: #f8f7f4 url("../img/sprite.png") no-repeat 7px -448px;
}

.login-window {
  display: none;
  position: absolute;
  left: -142px;
  top: 36px;
  box-sizing: border-box;
  width: 277px;
  min-height: 214px;
  padding: 20px 19px;
  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 20;
}

.login-window a {
  color: #323232;
}

.login-window a:hover {
  color: #ffbc9e;
}

.login-block:hover .login-window {
  display: block;
}

.login-window input {
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  margin-bottom: 20px;
  padding: 12px 14px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.login-window-button {
  float: left;
  width: 100px;
  min-height: 45px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.login-window-links {
  float: right;
  width: 120px;
}

.login-window-links a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid #adacaa;
}

.search-block {
  float: left;
  position: relative;
  padding-bottom: 5px;
}

.search-block > a {
  display: block;
  width: 33px;
  min-height: 32px;
  margin-right: 10px;
  border-radius: 50%;
  background: #a3b8ac url("../img/sprite.png") no-repeat -2px -486px;
}

.search-block > a:hover {
  background: #f8f7f4 url("../img/sprite.png") no-repeat -2px -523px;
}

.search-window {
  display: none;
  position: absolute;
  top: 36px;
  left: -308px;
  box-sizing: border-box;
  width: 341px;
  min-height: 84px;
  padding: 20px 15px;
  border-radius: 6px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 20;
}

.search-block:hover .search-window {
  display: block;
}

.search-window input {
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding: 12px 14px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.opening-times {
  width: 167px;
  min-height: 38px;
  float: right;
  margin-top: 13px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
}

.opening-times p {
  margin: 0;
  margin-left: 16px;
  margin-bottom: 4px;
}

.opening-times-tel {
  font-size: 22px;
  line-height: 24px;
}

.slider {
  position: relative;
  padding-top: 274px;
  text-align: center;
}

.slider-radio {
  display: none;
}

.slide {
  display: none;
}

.slider h2 {
  width: 700px;
  font-size: 60px;
  line-height: 60.35px;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 30px;
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
  margin-right: 8px;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper .slide-1,
#btn-2:checked ~ .site-wrapper .slide-2,
#btn-3:checked ~ .site-wrapper .slide-3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-image: url("../img/slider-1.png");
  background-color: #849d8f;
}

#btn-2:checked ~ .site-wrapper {
  background-image: url("../img/slider-2.png");
  background-color: #8996a6;
}

#btn-3:checked ~ .site-wrapper {
  background-image: url("../img/slider-3.png");
  background-color: #9d8b84;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.slider-controls label:hover {
  background-color: #b2c1b7;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 40px;
  color: #ffffff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-button {
  width: 280px;
  min-height: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 9px 41px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.promo-block {
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
}

.promo {
  box-sizing: border-box;
  width: 560px;
  min-height: 229px;
  color: #ffffff;
  border-radius: 15px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  padding: 17px 19px;
}

.promo h3 {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}

.promo p {
  margin-top: 14px;
}

.promo-left {
  background-color: #8b132a;
  background-image: url("../img/promo-left-background.jpg");
  background-size: cover;
}

.promo-right {
  margin-left: auto;
  background-color: #41291e;
  background-image: url("../img/promo-right-background.jpg");
  background-size: cover;
}

.promo-button {
  margin-top: 26px;
  padding: 11px 22px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  opacity: 0.988;
}

.promo-button-left {
  width: 165px;
  margin-left: 355px;
}

.promo-button-right {
  width: 190px;
  margin-left: 332px;
}

.hits-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 40px;
  min-height: 322px;
}

.catalog-item {
  width: 267px;
  position: relative;
  text-align: center;
}

.catalog-item-hover {
  display: none;
  position: absolute;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  top: -10px;
  left: -10px;
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.3);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  padding-bottom: 80px;
  z-index: 30;
}

.catalog-item:hover .catalog-item-hover {
  display: block;
}

.catalog-item-hover a {
  position: absolute;
  bottom: 0;
  left: 45px;
  margin-bottom: 30px;
}

.catalog-item-link {
  position: relative;
  z-index: 10;
}

.catalog-item:hover .catalog-item-link {
  z-index: 35;
}

.catalog-item-hit::before {
  content: "";
  display: block;
  width: 61px;
  height: 61px;
  background: url("../img/hit-tag.png") no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
}

.catalog-item img {
  border-radius: 50%;
}

.catalog-item-heading {
  width: 257px;
  margin-top: 7px;
  margin-bottom: 0;
  margin-left: 5px;
}

.catalog-item-heading a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}

.catalog-item-heading a:hover {
  color: #ffbc9e;
  border-bottom: 1px solid #a7a294;
}

.catalog-item-price {
  position: absolute;
  top: 210px;
  left: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 2px 1px 3px rgba(49, 50, 53, 0.5);
  z-index: 20;
}

.catalog-item:hover .catalog-item-price {
  z-index: 40;
}

.catalog-item-price span {
  font-size: 30px;
}

.item-button {
  position: absolute;
  right: 40px;
  width: 200px;
  min-height: 45px;
  padding-top: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  z-index: 30;
}

.features {
  margin-top: 38px;
  padding-top: 1px;
  padding-left: 20px;
  background-color: #e9dcc0;
  background-image: url("../img/features-background.jpg");
  border-radius: 15px;
}

.features h1 {
  margin-top: 23px;
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.feature {
  display: inline-block;
  vertical-align: top;
  width: 476px;
  margin-top: 16px;
  position: relative;
}

.feature::before {
  content: "";
  display: block;
  position: absolute;
  left: -56px;
  top: -13px;
  width: 48px;
  height: 48px;
}

.feature-1::before {
  background: url("../img/feature-1-icon.png") no-repeat;
}

.feature-2::before {
  background: url("../img/feature-2-icon.png") no-repeat;
}

.feature-3::before {
  background: url("../img/feature-3-icon.png") no-repeat;
}

.feature-4::before {
  background: url("../img/feature-4-icon.png") no-repeat;
}

.feature-1,
.feature-3 {
  margin-right: 87px;
  margin-left: 56px;
}

.feature-3,
.feature-4 {
  margin-top: 6px;
  margin-bottom: 25px;
}

.blog-email-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
}

.blog {
  box-sizing: border-box;
  width: 560px;
  min-height: 220px;
  padding: 23px 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
  background: #ffffff url("../img/blog-background.jpg") no-repeat;
  border-radius: 15px;
}

.blog h5 {
  width: 282px;
  margin-top: 4px;
}

.blog a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.blog a:hover {
  color: #e84d37;
}

.email-listing {
  box-sizing: border-box;
  width: 560px;
  min-height: 220px;
  padding: 5px 6px;
  background: #ffffff url("../img/email-listing-background.png") 3px 0px repeat;
  border-radius: 15px;
}

.email-listing-content {
  padding-top: 13px;
  padding-left: 21px;
  background-color: #f8f7f4;
  border-radius: 10px;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.email-listing-content p {
  margin-bottom: 35px;
}

.email-listing-content input {
  box-sizing: border-box;
  position: relative;
  width: 368px;
  height: 44px;
  margin-right: 6px;
  padding-top: 1px;
  padding-left: 14px;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
  margin-bottom: 35px;
}

.email-listing-content button {
  box-sizing: border-box;
  width: 130px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 10px 13px;
}

.map-container {
  box-sizing: border-box;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}

.map {
  position: relative;
  background: url("../img/map-with-pin.jpg") no-repeat;
}

.map iframe {
  border: none;
}

.contacts {
  box-sizing: border-box;
  width: 302px;
  padding: 12px 26px;
  position: absolute;
  right: 27px;
  top: 62px;
  color: #323232;
  background-color: #ffffff;
  border-radius: 15px;
}

.contacts p {
  margin-top: 18px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contacts p:nth-child(2) {
  margin-bottom: 24px;
}

.contacts b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-button{
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 11px 26px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.contacts-form {
  display: none;
  position: fixed;
  top: 100px;
  left: 50%;
  margin-left: -238px;
  box-sizing: border-box;
  width: 476px;
  min-height: 442px;
  padding: 20px 24px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 6px;
  z-index: 110;
}

.contacts-form-show {
  display: block;
  animation: bounce 0.6s;
}

.contacts-form-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 100;
}

.contacts-form-overlay-show {
  display: block;
}

.contacts-form input {
  box-sizing: border-box;
  width: 267px;
  height: 44px;
  margin-bottom: 20px;
  padding: 12px 14px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.contacts-form input:first-child {
  margin-top: 19px;
}

.contacts-form textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 155px;
  padding: 12px 14px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.contacts-close {
  float: right;
  position: relative;
}

.contacts-close-button {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 18px;
  height: 17px;
  border: none;
  background: #f8f7f4 url("../img/contacts-close-button.png") no-repeat;
  cursor: pointer;
}

.contacts-form-button {
  float: right;
  width: 139px;
  min-height: 46px;
  margin-top: 18px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.main-footer {
  min-height: 103px;
}

.footer-border {
  box-sizing: border-box;
  border-top: 1px solid #a9bbb1;
  padding-top: 7px;
}

.social {
  width: 200px;
  float: left;
  margin-top: 26px;
  margin-right: 222px;
}

.social-link {
  box-sizing: border-box;
  display: inline-block;
  font-size: 0;
  width: 38px;
  height: 38px;
  margin-right: 8px;
  border: 3px solid #c2cec7;
  border-radius: 50%;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.social-link:hover {
  background-position: 0px 0px;
}

.social-link:active {
  box-shadow: inset 0px 1px 2px 1px rgba(136, 136, 136, 0.7);
}

.social-link-tw {
  background-position: -10px -567px;
}

.social-link-tw:hover {
  background-image: url("../img/tw-icon-hover.png");
}

.social-link-inst {
  background-position: -10px -363px;
}

.social-link-inst:hover {
  background-image: url("../img/inst-icon-hover.png");
}

.social-link-fb {
  background-position: -10px -278px;
}

.social-link-fb:hover {
  background-image: url("../img/fb-icon-hover.png");
}

.social-link-vk {
  background-position: -10px -619px;
}

.social-link-vk:hover {
  background-image: url("../img/vk-icon-hover.png");
}

.about-us {
  width: 309px;
  float: left;
  margin-top: 26px;
}

.about-us a {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}

.about-us a:nth-child(1) {
  margin-right: 28px;
  font-weight: 700;
}

.about-us a:nth-child(3) {
  margin-right: 40px;
}

.about-us a:hover {
  color: #ffbc9e;
  border-bottom: 1px solid #a7a294;
}

.about-us a:nth-child(1)::before {
  content: "";
  width: 15px;
  height: 13px;
  position: absolute;
  left: -23px;
  top: 3px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -330px;
}

.copyright {
  float: right;
  margin-top: 12px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.copyright a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.copyright-content {
  margin-top: 0;
}

.copyright-content a {
  border-bottom: 1px solid #9db1a5;
}

.copyright-content a:hover {
  color: #ffbc9e;
  border-bottom: 1px solid #a7a294;
}

/*icecream.html*/

.breadcrumbs {
  width: 500px;
  margin-top: -19px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs ul {
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  display: inline-block;
  margin-right: 5px;
}

.breadcrumbs-item a {
  color: #ffffff;
}

.breadcrumbs-item a:hover {
  color: #ffbc9e;
}

h1.ice-cream-title {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  margin: 0;
  margin-top: 4px;
}

.main-form {
  padding: 0;
  width: 931px;
  min-height: 130px;
  margin-top: 26px;
}

.main-form fieldset {
  min-height: 56px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  border: none;
}

.main-form legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.sort {
  width: 193px;
  margin-right: 9px;
}

.sort legend {
  margin-left: 15px;
}

.sort select {
  box-sizing: border-box;
  width: 193px;
  height: 36px;
  margin-top: 6px;
  padding: 8px 11px;
  border: none;
  background-color: #a9b9af;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 20px;
}

.sort select:hover,
.sort select:focus {
  background-color: #ffffff;
  color: #323232;
}

.price {
  width: 218px;
  margin-right: 9px;
}

.price legend {
  margin-left: 13px;
}

.price .main-form-range {
  position: relative;
  box-sizing: border-box;
  width: 218px;
  height: 36px;
  padding: 16px 15px;
  margin-top: 6px;
  background-color: #aabcb2;
  border-radius: 20px;
}

.price .scale {
  height: 4px;
  background-color: #cbd4cd;
}

.price .bar {
  width: 118px;
  margin-left: 19px;
  height: 4px;
  background-color: #f8f7f4;
}

.price .toggle {
  position: absolute;
  top: 8px;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-radius: 50%;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.price .toggle-min {
  left: 34px;
}

.price .toggle-max {
  left: 132px;
}

.fat {
  width: 415px;
}

.fat legend {
  margin-left: 14px;
}

.fat .radio-container {
  box-sizing: border-box;
  width: 415px;
  height: 36px;
  margin-top: 6px;
  padding: 9px 15px;
  background-color: #aabcb2;
  border-radius: 20px;
}

.fat input[type="radio"] {
  display: none;
}

.fat input[type="radio"] + label {
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
  margin-right: 12px;
  position: relative;
  cursor: pointer;
}

.fat input[type="radio"] + label::before {
  content: "";
  display: block;
  width: 21px;
  height: 22px;
  background-image: url("../img/form-sprite.png");
  background-position: -10px -250px;
  position: absolute;
  top: -2px;
  left: 0;
}

.fat input[type="radio"]:checked + label::before {
  background-position: -10px -292px;
}

.fat input[type="radio"] + label:hover::before {
  background-position: -10px -460px;
}

.fat input[type="radio"]:checked + label:hover::before {
  background-position: -10px -376px;
}

.fat label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.filling {
  width: 702px;
  margin-top: 17px;
}

.filling legend {
  margin-left: 15px;
}

.filling .checkbox-container {
  box-sizing: border-box;
  width: 702px;
  height: 36px;
  margin-top: 6px;
  padding: 9px 15px;
  background-color: #aabcb2;
  border-radius: 20px;
}

.filling input[type="checkbox"] {
  display: none;
}

.filling input[type="checkbox"] + label {
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
  margin-right: 16px;
  position: relative;
  cursor: pointer;
}

.filling input[type="checkbox"] + label::before {
  content: "";
  display: block;
  width: 21px;
  height: 22px;
  background-image: url("../img/form-sprite.png");
  background-position: -10px -10px;
  position: absolute;
  top: -2px;
  left: 0;
}

.filling input[type="checkbox"]:checked + label::before {
  background-position: -10px -50px;
}

.filling input[type="checkbox"] + label:hover::before {
  background-position: -10px -210px;
}

.filling input[type="checkbox"]:checked + label:hover::before {
  background-position: -10px -130px;
}

.filling label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.main-form-button {
  box-sizing: border-box;
  display: inline-block;
  width: 144px;
  min-height: 36px;
  margin-top: 38px;
  margin-left: 7px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #a6b7ae;
  border: 2px solid #fcfcfc;
  border-radius: 20px;
  cursor: pointer;
}

.main-form-button:hover {
  color: #323232;
  background-color: #fbfcfb;
}

.main-form-button:active {
  border: none;
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.catalog-items-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
}

.catalog-items-list .catalog-item {
  margin-bottom: 35px;
}

.pagination {
  width: 196px;
  float: right;
  margin-top: 48px;
  margin-bottom: 30px;
}

.pagination ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.pagination-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 2px;
}

.pagination-item a {
  box-sizing: border-box;
  display: block;
  width: 26px;
  height: 26px;
  padding: 5px 9px;
  border-radius: 50%;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.pagination-item a:hover {
  background-color: #9db1a5;
}

.arrow-prev a {
  background: url("../img/arrow-prev.png") no-repeat 5px 7px;
}

.arrow-next a {
  background: url("../img/arrow-next.png") no-repeat 15px 7px;
}

.arrow-prev a:hover,
.arrow-next a:hover {
  background-color: transparent;
}

.pagination-active-item a,
.pagination-active-item a:hover {
  color: #323232;
  background-color: #ffffff;
}

/*sprite*/

.sprite {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-arrow-next {
  width: 9px;
  height: 14px;
  background-position: -10px -10px;
}

.sprite-arrow-prev {
  width: 9px;
  height: 14px;
  background-position: -10px -44px;
}

.sprite-cart-full-icon {
  width: 21px;
  height: 20px;
  background-position: -10px -78px;
}

.sprite-cart-icon {
  width: 21px;
  height: 20px;
  background-position: -10px -118px;
}

.sprite-checkbox {
  width: 20px;
  height: 20px;
  background-position: -10px -158px;
}

.sprite-checkbox-blocked {
  width: 20px;
  height: 20px;
  background-position: -10px -198px;
}

.sprite-checkbox-hover {
  width: 20px;
  height: 20px;
  background-position: -10px -238px;
}

.sprite-fb-icon {
  width: 32px;
  height: 32px;
  background-position: -10px -278px;
}

.sprite-heart-icon {
  width: 15px;
  height: 13px;
  background-position: -10px -330px;
}

.sprite-inst-icon {
  width: 32px;
  height: 32px;
  background-position: -10px -363px;
}

.sprite-login-icon {
  width: 21px;
  height: 19px;
  background-position: -10px -415px;
}

.sprite-login-icon-hover {
  width: 21px;
  height: 19px;
  background-position: -10px -454px;
}

.sprite-search-icon {
  width: 17px;
  height: 17px;
  background-position: -10px -493px;
}

.sprite-search-icon-hover {
  width: 17px;
  height: 17px;
  background-position: -10px -530px;
}

.sprite-tw-icon {
  width: 32px;
  height: 32px;
  background-position: -10px -567px;
}

.sprite-vk-icon {
  width: 32px;
  height: 32px;
  background-position: -10px -619px;
}

/*Form sprite*/

.form_sprite {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.form_sprite-checkbox {
  width: 20px;
  height: 20px;
  background-position: -10px -10px;
}

.form_sprite-checkbox-active {
  width: 20px;
  height: 20px;
  background-position: -10px -50px;
}

.form_sprite-checkbox-active-blocked {
  width: 20px;
  height: 20px;
  background-position: -10px -90px;
}

.form_sprite-checkbox-active-hover {
  width: 20px;
  height: 20px;
  background-position: -10px -130px;
}

.form_sprite-checkbox-blocked {
  width: 20px;
  height: 20px;
  background-position: -10px -170px;
}

.form_sprite-checkbox-hover {
  width: 20px;
  height: 20px;
  background-position: -10px -210px;
}

.form_sprite-radio {
  width: 21px;
  height: 22px;
  background-position: -10px -250px;
}

.form_sprite-radio-active {
  width: 21px;
  height: 22px;
  background-position: -10px -292px;
}

.form_sprite-radio-active-blocked {
  width: 21px;
  height: 22px;
  background-position: -10px -334px;
}

.form_sprite-radio-active-hover {
  width: 21px;
  height: 22px;
  background-position: -10px -376px;
}

.form_sprite-radio-blocked {
  width: 21px;
  height: 22px;
  background-position: -10px -418px;
}

.form_sprite-radio-hover {
  width: 21px;
  height: 22px;
  background-position: -10px -460px;
}

.form_sprite-sort-marker {
  width: 9px;
  height: 5px;
  background-position: -10px -502px;
}
